<header class="container-fluid">
<div class="jumbotron jumbotron-fluid" id="topJumbotron">
  <div class="container">
    <h1 class="display-4">Consume Sandwiches Online</h1>
  </div>
</div>
<ul class="nav" id="navigation">
  <li class="nav-item">
    <a class="nav-link active" href="#">Consume</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Data</a>
  </li>
</ul>


</header>


<h1>Consume Sandwiches here</h1>

<h2>Sandwich Data</h2>

<ul>
empty
</ul>

<h2>Sandwiches</h2>

<ul>
 empty
</ul>

<h2>Add a Sandwich</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Sandwich name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form>
