{{!-- Make a header that is also a button that opens up an expand
 --}}
<header class="container-fluid">
  <button class="btn on" type="button" data-toggle="collapse" data-target="#mainContainer" aria-expanded="false"
    aria-controls="collapseExample" id="headerBtn">
    Eat - Da - Burger
  </button>
</header>


{{!-- main container contains input and a button. --}}
<main class="container-fluid collapse" id="mainContainer">
  <div class="input-group mb-3" id="burgerNameTakerGroup">
    <input type="text" class="form-control" id="burgerInput" placeholder="Burger name" aria-label="Burger name"
      aria-describedby="burger-addon">
    <div class="input-group-append">
      <span class="input-group-text" id="burger-addon">Burger</span>
    </div>
  </div>

</main>

<section class="container-fluid collapse" id="buttonContainer">
  <div class="btn-group" id="addButtonGroup" role="group" aria-label="burger-add-buttons">
    <button class="btn" type="submit">Add Burger Now</button>
    <button type="button" class="btn btn-secondary">Right</button>
  </div>
</section>


{{!-- consumeContainer contains the sandwiches available for consumption --}}
{{!-- and the list of consumed sandwiches --}}
<section class="container-fluid" id="consumeContainer">
  <div class="row jumbotronRow">
    <div class="col">
      {{!-- edgeTwo used for styling --}}
      <div class="row" id="edgeTwo"></div>
      <div class="jumbotron jumbotron-fluid" id="bottomJumbotron">
        <div class="container">
          <div class="row" id="consumeSandwichRow">
            <div class="col" id="unconsumedCol">
              <h1 class="row">
                <div class="col bottomTitle">Consumable Sandwiches</div>
              </h1>
              {{#each sandwiches}}
              {{#if consumed}}
              {{> sandwiches/sandwich-block consumed=false}}
              {{/if}}
              {{/each}}
            </div>
            <div class="col" id="consumedCol">
              <h1 class="row">
                <div class="col bottomTitle">Sandwiches Consumed</div>
              </h1>
              {{#each sandwiches}}
              {{#unless consumed}}
              {{>sandwiches/sandwich-block consumed=true}}
              {{/unless}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>