{{!-- header contains a jumbotron. --}}
<header class="container-fluid">
  <div class="row jumbotronRow">
    <div class="col">
      <div class="jumbotron jumbotron-fluid" id="topJumbotron">
        <div class="container">
          <h1 class="display-4" id="jumboTitle">Consume Sandwiches Online</h1>
        </div>
      </div>
    </div>
  </div>
  {{!-- edgeOne used for styling --}}
  <div class="row" id="edgeOne"></div>
</header>

{{!-- main container contains input and a button. --}}
<main class="container" id="mainContainer">
  <div class="row align-items-center" id="createSandwichRow">
    {{!-- addHolder contains some text next to the input --}}
    <div class="col-4" id="addHolder">
      <div class="row align-items-center">
        <div class="col">-></div>
      </div>
      <div class="row align-items-center">
        <div class="col">ADD YOUR</div>
      </div>
      <div class="row align-items-center">
        <div class="col">SANDWICH</div>
      </div>
      <div class="row align-items-center">
        <div class="col"></div>
      </div>
      <div class="row align-items-center">
        <div class="col">-></div>
      </div>
    </div>
    {{!-- inputHolder contains the input for sandwich names --}}
    <div class="col-4" id="inputHolder">
      <input type="text" id="sandwichInput" name="name">
    </div>
    {{!-- buttonHolder contains the button to create sandwiches --}}
    <div class="col-4" id="buttonHolder">
      <button id="createButton">Create</button>
    </div>
  </div>
</main>

{{!-- consumeContainer contains the sandwiches available for consumption --}}
{{!-- and the list of consumed sandwiches --}}
<section class="container-fluid" id="consumeContainer">
  <div class="row jumbotronRow">
    <div class="col">
      {{!-- edgeTwo used for styling --}}
      <div class="row" id="edgeTwo"></div>
      <div class="jumbotron jumbotron-fluid" id="bottomJumbotron">
        <div class="container">
          <div class="row" id="consumeSandwichRow">
            <div class="col" id="unconsumedCol">
              <h1 class="row">
                <div class="col">Consumable Sandwiches</div>
              </h1>
              {{#each sandwiches}}
              {{#if consumed}}
              {{> sandwiches/sandwich-block consumed=false}}
              {{/if}}
              {{/each}}
            </div>
            <div class="col" id="consumedCol">
              <h1 class="row">
                <div class="col">Sandwiches Consumed</div>
              </h1>
              {{#each sandwiches}}
              {{#unless consumed}}
              {{>sandwiches/sandwich-block consumed=true}}
              {{/unless}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>