.container-fluid {
  padding: 0;
}

#topJumbotron {
  font-family: 'Modak', cursive;
  text-align: center;
  background: linear-gradient(white, red);
  margin: 0;
}

#createSandwichRow {
  font-family: 'Modak', cursive;
  font-size: 75px;
}

#jumboTitle {
  font-size: 90px;
}

#navigation {
  background: linear-gradient(red, white);
  padding: 0;
}

#unconsumedCol {
  text-align: right;
}
